@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face { 
  font-family: "darkline"; 
  src: url("./font/Darkline.ttf"); 
} 
@font-face { 
  font-family: "inked"; 
  src: url("./font/VTKSINKED.ttf"); 
}